<div *ngIf="isLoaded$ | async" class="relative flex justify-center items-center min-h-[100dvh]">
  <div class="absolute right-5 top-5">
    <p>List of connected users:</p>
    <ul>
      <li *ngFor="let user of connectedUsers" [style.color]="user.color">
        <span *ngIf="user.id === userInfo.uuid">My name is:</span>
        {{user.name}}
      </li>
    </ul>
  </div>
  <ng-container *ngFor="let cursor of cursors">
    <div *ngIf="cursor.id !== userInfo.uuid"
         [ngStyle]="{'left': cursor.x + 'px', 'top': cursor.y + 'px', 'background-color': cursor.color}"
         class="cursor-marker">
      Cursor: {{ cursor.username }}
    </div>
  </ng-container>
  <div class="flex flex-col">
    <div>
      <input class="rounded-[7px] border border-blue-gray-200 bg-transparent px-3 py-2.5 h-11 w-[500px]" type="text" [value]="ytext.toJSON()" (keydown)="onInputChange($event)" (change)="onInputChange($event)">
      <button (click)="clearInput()">Clear</button>
    </div>
  </div>
</div>
